body address strong{
    font-size: 125%;
}
body address{
    background-color: brown;
    border:  1px solid black;
    font-style: normal;
}
main{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
main a{
    text-decoration: none;
}
main ul li{
    list-style: none;
}

main ol li{
    list-style-type:upper-roman;
}
main a:visited{
    color: green;
}
main a[href^="http"]{
    background-color: brown;
    border: 8px;
    font-size: 125%;
    padding: 10px 8px;
}
main p::first-line{
    color: red;
}
.adresa{
    display: flex;
    justify-content: space-around;
}
main dd{
    visibility: hidden;
    display: none;
}
main dt:hover+dd{
    display: block;
    color: black;
    visibility: visible;
    color: blueviolet;
}
.resetpage p:hover+div{
    all: unset;
}


